body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
a {
  color: green;
}
.center {
  margin: 0 auto;
}

/* ... Close icon styling ... */
#close-btn {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  float: right;
  margin-top: -20px;
  margin-right: -20px;
  display: block;
  background-color: ;
}

.close {
  margin-left: 14px;
  opacity: 0.3;
  width: 15px;
  height: 15px;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  margin-top: 6px;
  content: ' ';
  height: 17px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


/* ... Login window styling ... */
#login-text {
  text-align: center;
}
#login-text h1 {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 18px;
  margin: 10px auto 20px auto;
}
#login-window {
  background-color: #e9ecef;
  margin-top: 15px;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, .3);
  font-size: 20px;
  padding: 30px 30px 50px 30px;
  width: 280px;
  display: block;
}
#input-boxes {
  width: 248px;  
}
.input {
  background: #fff;
  border: 1px solid rgba(213, 219, 225, 1);
  padding: 0 15px 0 15px;
  margin: 0 auto;
  font-size: 15px;
  height: 45px;
  width: 100%;
}
.input:focus {
  border: 1px solid rgba(111, 166, 223, 1);
  background: #fafcfe;
  box-shadow: isnet 0px 0px 3px 0 rgba(83, 149, 217, .7);
  outline: 0 none;
}
#log-in-button {
  height: 40px;
  margin: 15px auto 15px auto;
  text-align: center;
  width: 100%;
  font-size: 15px;
}
#forgot-username {
  display: block;
  float: left;
  padding-left: 20px;
  font-size: 12px;
}
#forgot-username a {
  text-decoration: none;
}
#verticle_false {
  width: 1.5px;
  height: 24px;
  display: block;
  margin-left: 20px;
  margin-top: -4px;
  float: left;
}
#forgot-pw {
  display: block;
  float: right;
  padding-right: 20px;
  font-size: 12px;
}
#forgot-pw a {
  text-decoration: none;
}
hr {
  border: 0;
  height: 1px;
  margin: 20px auto;
  background-color: #BBBBBB;
}
#sign-up-link {
  display: block;
  font-size: 13px;
  text-align: center;
  margin: -50px auto 0px auto;
}
#sign-up-link a {
  text-decoration: none;
  color: red;
}
.blue-btn, .blue-btn:focus, a.blue-btn {
    color: #fff;
    cursor: pointer;
    border: 1px solid #2559a4;
    background-color: #2077cf;
    box-shadow: 0 1px 1px 0 rgba(56, 60, 72, 0.21), 0 0 2px 0 rgba(113, 170, 228, 1);
    text-shadow: 0 1px 0 #1f4a89
}
.blue-btn:hover, a.blue-btn:hover {
    color: #fff;
    border: 2px solid #2559a4;
    background: #1d6fc1 -webkit-linear-gradient(bottom, rgba(39, 107, 176, 0.25) 0, rgba(39, 107, 176, 0.0) 100%);
    box-shadow: 0 1px 1px 0 rgba(56, 60, 72, 0.21), 0 0 2px 0 rgba(105, 161, 218, 1);
    text-shadow: 0 1px 0 #1f4a89;
}



/* ... fake captcha checkbox ... */
#fake-captcha {
  display: inline;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 12px;
  line-height: 40px;
  white-space: nowrap;
  cursor: pointer;
  color: #444;
}

#fake-captcha:hover {
  color: #666;
}

#fake-checkbox {
  position: relative;
  float: left;
  top: 10px;
  bottom: 10px;
  margin-right: 10px;
  margin-left: 55px;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: all 0.2s;
  box-sizing: border-box;
}

#fake-checkbox:hover {
  border-color: #aaa;
  background: #eee;
}

#fake-captcha.loading {
  cursor: default;
  color: #444;
}

.loading #fake-checkbox {
  border-radius: 50%;
  background: transparent;
  border-color: #888;
  border-width: 12px;
  border-style: inset;
  animation: spin 1s infinite linear;
}

.pass #fake-checkbox {
  background: #c1d9a3;
  border-color: #669f56;
}

.pass #fake-checkbox:before {
  position: absolute;
  top: -12px;
  left: 0;
  display: block;
  content: "\2713";
  font-size: 20px;
  color: #275f18;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fail {
  animation: fail 0.1s 4;
}

@keyframes fail {
  0% { transform: translate(-50%, -50%); }
  25% { transform: translate(-51%, -50%); }
  50% { transform: translate(-50%, -50%); }
  75% { transform: translate(-49%, -50%); }
  100% { transform: translate(-50%, -50%); }
}
