* {
  box-sizing: border-box;
  font-family: 'Lato';
}

h1 {
  text-align: center;
}

form {
  max-width: 768px;
  display: block;
  background: #162E3F;
  padding: 25px;
  margin: 20px auto;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  color: #fff;
}

fieldset {
  border: none;
  margin: 10px auto;
}
fieldset legend {
  margin: 30px 0 0;
  font-size: 24px;
  font-weight: 700;
}

.tripple-input {
  margin: 20px auto;
}
.tripple-input > div {
  float: left;
  width: 31%;
  margin-bottom: 10px;
  margin: 0 1% 10px;
}
.tripple-input:after {
  content: "";
  display: table;
  clear: both;
}

.form-input-container label {
  display: block;
  margin-bottom: 10px;
}
.form-input-container.date-select select {
  width: 47%;
}
.form-input-container.date-select select:first-of-type {
  margin-right: 3%;
}

input {
  width: 100%;
  color: white;
  padding: 8px;
  height: 35px;
  background: transparent;
  border: 1px solid #a9a9a9;
  /* the next line controls the styling for a selected box */
}
input:focus {
  border: 1px solid green;
}

button[type="submit"] {
  height: 50px;
  width: 250px;
  background: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 50px;
  font-family: 'Lato';
  box-shadow: 5px 5px 10px #000000;
  display: block;
  margin: 0 auto;
  margin-right: 0;
}

button:hover {
  color: green;
}
